body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(237, 178, 100);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-auto-rows: minmax(450px, auto);
  gap: 40px;
  justify-items: center;
  justify-content: space-between;
  align-content: end;
  align-items: center;
  background-color: beige;
  height: 1800px;
}

.grid-item {
  background-color: rgb(237, 178, 100);
  padding: 40px;
  /* display: flex;
  align-items: center; */
}
.grid-item > p {
  background-color: aqua;
}
